.event-form {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #323a51;
    filter: hue-rotate(15deg);
    align-items: flex-start;
    color: #f7f7ff;


    /*opacity:0;*/
    height: 100px;
    padding: 0 8px;
    overflow: hidden;
    transition: all .2s ease .15s;
}
.event-form:hover{
    background-color: #5e698b;
}
.event-form-active {
    padding-bottom: 10px;
    opacity:1;
    height: 550px;
}
.event-form-active:hover {
    background-color: #323a51;
}

.event-form > * {
    margin-top: 50px;
    margin-left: 20px;


}
.event-form > *:not(button) {
    width: 80%;
}
.event-form > *:nth-child(2) {
    margin-top: 0;
}
.event-form > label > *:not(button) {
    width: 100%
}
